body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a,
.info-text {
    color: #E5E7EB;
    font-size: 18px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

button {
    border: 2px solid #3882F6;
    border-radius: 4px;
    color: white;
    padding: 2px 16px;
}

button:active {
    background-color: #699ff7;
    border: 2px solid #699ff7;
}

button,
.action-container {
    background-color: #3882F6;
}

ul {
    display: flex;
    gap: 12px;
    list-style: none;
    flex-wrap: wrap;
}

.action-container {
    align-self: center;
    align-items: center;
    border-radius: 6px;
    color: white;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin: 40px 0;
    width: 600px;
}


.action-container > button {
    border: 2px solid white;
}

.action-text {
    align-self: flex-start;
    padding: 24px;
}

.action-text > p {
    margin: 0;
}

.card {
    max-width: 300px;
}

.comp-info {
    max-width: 600px;
    flex-wrap: wrap;
}

.footer {
    align-items: center;
    color: #E5E7EB;
    display: flex;
    height: 72px;
    justify-content: center;
}

.footer, 
.header,
.main-container {
    background-color: #1F2937;
}

.header,
.main-container {
    padding: 4px 92px 24px 92px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.img-info {
    display:flex;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 200px;
}

.img-main {
    max-width: 60%;
    max-height: 60%;
    object-fit: cover;
    padding: 12px 0;
}

.info-container {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: 14px;
    justify-content: space-evenly;
}

.info-text {
    padding-bottom: 12px;
}

.left-header {
    align-self: center;
    color: #F9FAF8;
    font-size: 24px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-container {
    align-items: center;
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 96px;
}

.quote-ref {
    font-weight: bold;
    margin-left: auto;
    padding-top: 12px;
    padding-right: 96px;
}

.text-tagline {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
